body {
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.png");
    background-size: cover;
    
    

}
h2 {
    color: orangered;
}
p {
    font-weight: bold;
}
.text-center {
    text-align: center;
}