body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../images/01-02-02_background-img.png");
  background-color: lightgrey;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h2 {
  color: orangered;
}
p {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
